@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&family=Parisienne&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{

    --fonte-padrão: "Work Sans", sans-serif;
    --fonte-destaque: "Kaushan Script", sans-serif;
}
header {
    background-image: linear-gradient(to top, rgb(248, 161, 176), rgb(247, 236, 140));
    padding: 10px;
    margin: -10px -10px 0px -10px
}
header > h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
}
header > h2 {
    text-align: center;
}
header > h3 {
    text-align: center;
}

nav {
    background-color: pink;
    padding: 10px;

}

nav > a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}
a:hover {
    background-color: rgba(247, 43, 185, 0.397);
    text-decoration: underline;
    text-decoration: none;
    border-radius: 5px;
    


}



body {
    background-color: white;
    font-family: var(--fonte-padrão);
    margin: auto;
    background-image: url(imagens/capa-pequena.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {

    text-align: center;
    border-radius: 10px;
    padding: 10px;
   border-radius: 10px black;
   min-width: 300px;
   max-width: 800px;
   padding: 20px;
   margin: auto;
    
}

article > h1 {
    padding: 15px;
   font-size: 2em;
}
article > h2 {
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.514);
    border-radius: 5px;

}
article > h2:hover {
    background-color: rgba(247, 49, 181, 0.719);
}
#q1 {
  


}

footer {
    background-color:  pink;
    
}

footer > p {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    
}
